.container {
  border: 10px solid #61dbfb;
  box-sizing: border-box;
  padding: 20px;
}

.button {
  width: auto;
  padding: 20px 40px;
  border: 0;
  font-size: 1.5rem;
  cursor: pointer;
  background: gray;
  color: #fff;
  transition: all 0.3 ease-in-out;
}

.button:hover {
  opacity: 0.8;
}
