.header {
  top: 0;
  left: 0;
  width: 100%;
  background: yellow;
  position: fixed;
}

.header ul {
  list-style: none;
  display: flex;
}

.header ul li {
  margin: 0 10px;
  font-size: 20px;
  cursor: pointer;
}
